*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  background: linear-gradient(to right,rgb(174, 136, 245),rgb(181, 102, 245));
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
